.container {
  min-height: 100vh;
  background-color: #f5f5f5;
}

.content {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 24px;
  .headerSpace {
    width: 100%;
  }
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


